.my-profile-container{
    display: grid;
    grid-template-rows: auto auto max-content ;
}

.ui.secondary.pointing.menu .item{
    font-size: 17px;
    padding: 10px 5px;
    margin: 5px;
}

.my-profile-container  .header-my-store span{
    display: none;
}
