.logo-gconn-before-navbar{
    padding-top: 30px;
    color: white;
    display: flex;
    gap: 5px;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.logo-gconn-before-navbar img{
    width: 50px;
    height: 50px;
}

.logo-gconn-before-navbar h1{
    font-weight: 700 ;
    font-size: 30px;
    padding-bottom: -10px;
}

.logo-gconn-before-navbar h3{
    margin-top: -10px;
    font-size: 7px;
}

.logo-gconn-before-navbar span{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar .main{
    margin-top: 30%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
}

.navbar .main div{
    color: white;
    display: grid;
    grid-template-columns: 13% 50%;
    align-items: stretch;
    justify-content: center;
    font-size: 22px;
    column-gap: 10%; 
    font-weight: 300;
}

.navbar .main div:hover{
    cursor: pointer;
}

.navbar .main span{
    color: white;
    border-bottom: 1.5px solid white;
    width: 80%;
    margin: auto;
}

.navbar .main .klik h3{
    font-weight: 600;
}