.say-hello{
    color: white;
    padding: 30px 0 0 30px ;
}

.say-hello h1{
    font-size: 25px;
    font-weight: 700;
}

.say-hello h3{
    font-size: 14px;
    margin-top: -7px;
    font-weight: 300;
}