.ProfileChat{
    color: white;
    width: auto;
    display: grid;
    grid-template-columns: 50px 50px auto;
    height: auto;
    column-gap: 10px;
    align-items: center;
    padding: 10px;
}

.ProfileChat img:nth-child(1){
    width: 40px;
    margin: auto;
}

.ProfileChat img:nth-child(1):hover{
    cursor: pointer;
}

.ButtonChatOpen{
    transform: rotate(-90deg);
}

.ButtonChatClosed{
    transform: rotate(90deg);
}

@keyframes animasiButtonChatClosed {
    from{
        transform: rotate(-90deg);
    }
    to{
        transform: rotate(90deg);
    }
}

@keyframes animasiButtonChatOpen {
    from{
        transform: rotate(90deg);
    }
    to{
        transform: rotate(-90deg);
    }
}

.ProfileChat img:nth-child(2){
    width: 100%;
}

.ProfileChat h1{
    font-weight: 600;
    font-size: 20px;
    width: fit-content;
    margin-bottom: 3px;
}

.ProfileChat h2{
    font-size: 40px;
}

.ProfileChat div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.ProfileChat div div{
    width: 15px;
    height: 15px;
    background-color: #00D709;
    color: #00D709;
    border-radius: 50%;
}

