
.produk{
    max-width: 280px;
}

.produk .card{
    background-color: #1C34AD !important;
    border-radius: 10px 10px 0 0 ;
    width: auto !important;
    cursor: pointer;
}

.produk .card-body{
    padding: 10px 10px 0 10px ;
}

.produk .card-text{
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: wrap;
    word-break: break-all;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 450;
    line-height: 1.2;
}

.produk .card-title{
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 19px;
}

.produk .card-subtitle{
    font-weight: 300;
    padding: 2px 0 7px 0;
}

.produk .button-container{
    display: flex;
    justify-content: space-around;
    background-color: #1C34AD !important;
    border-radius: 0 0 10px 10px ;
    padding: 0 10px 10px 10px ;
}

.produk .button-container .btn :nth-child(1){
    margin: 0 !important;
}

.produk .button-container .button{
    background-color: #2444E3;
    color: #DCDDDE;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 70px;
  /* background: rgba(28, 52, 173, 0.77); */
  z-index: inherit;
}