.produk {
    cursor: pointer;
}

.produk .card{
    background-color: #1C34AD !important;
    border-radius: 10px;
    width: auto !important;
}

.produk .card-title{
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.produk .card .button-container{
    display: flex;
    justify-content: space-around;
}

.produk .card .button-container .btn :nth-child(1){
    margin: 0 !important;
}