.RightSideBar{
    background: rgba(28, 52, 173, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(28, 52, 173, 0.3);
    position: fixed;
    width: 400px;
    right: 0;
    top: 10px;
    bottom: 10px;
}