.produk-container{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 280px));
    grid-template-rows: repeat(auto-fit, 330px);
    gap: 10px;
    width: 100%;
    padding-right: 10px;
}






    
