.main-container{
    position: absolute;
    width: 70vw;
    height: auto;
    margin: auto;
    left: 0;
    right: 0;
    top: 90px;
    margin-top: 10px;
    bottom: 10px;
    overflow: auto;
}

.home{
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 50% 1fr;
    gap: 10px;
    
}