.main-container{
    position: absolute;
    width: 75vw;
    height: auto;
    margin: auto;
    left: 0;
    right: 0;
    top: 80px;
    margin-top: 10px;
    bottom: 10px;
    overflow: auto;
}

.home-main-container{
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 50% 1fr;
    gap: 20px;
    min-width: 860px;
}

.market-main-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px calc(100vh - 160px);
    min-width: 1100px;
}

.container-market-main-container{
    display: grid;
    overflow: auto;
}

.sign-in-main-container , .sign-up-main-container{
    top: 20px;
    right: 0;
    left: 100px;
    bottom: 20px;
    width: auto;
    display: grid;
    grid-template-columns:  50% fit-content(400px);
    justify-content: space-around;
    grid-template-rows: 50% 1fr;
    gap: 50px;
}

.choose-game-sell-main-container{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sell-account-main-container{
    background: linear-gradient(18deg, rgba(28,52,173,0.23012955182072825) 0%, rgba(28,52,173,1) 100%);
    border-radius: 15px;
    padding: 10px 15px;
    bottom: auto !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: visible;
}

.detail-product-main-container{
    background: linear-gradient(18deg, rgba(28,52,173,0.23012955182072825) 0%, rgba(28,52,173,1) 100%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 20px;
    border-radius: 15px;
    /* display: grid; */
    /* grid-template-rows: auto auto; */
    /* gap: 20px; */
    /* justify-content: start; */
}

.payment-main-container{
    padding: 20px;
}