.main-container{
    position: absolute;
    width: 75vw;
    height: auto;
    margin: auto;
    left: 0;
    right: 0;
    top: 80px;
    margin-top: 10px;
    bottom: 10px;
    overflow: auto;
}

.home-main-container{
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 50% 1fr;
    gap: 20px;
    
}

.market-main-container{
    display: flex;
    flex-direction: column;
}

.sign-in-main-container{
    top: 0px;
    display: grid;
    grid-template-columns:  50% fit-content(400px);
    justify-content: space-around;
    grid-template-rows: 50% 1fr;
    gap: 50px;
}