.advance-filter .menu{
    display: none;
}

.advance-filter .tab{
    background-color: none;
    margin: 0;
    border: none;
    box-shadow: none;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.advance-filter .ui.segment{
    background: none !important;
    
}

.advance-filter .dropdown ,  .advance-filter input{
    border-radius: 10px !important;
}

.advance-filter .tab .tab-left{
    display: grid;
    gap: 10px;
}

.advance-filter .choose-game{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.advance-filter .choose-game img{
    cursor: pointer;
}

.advance-filter .choose-game .on-page{
    border: 5px solid #FFC700;
    border-radius: 10px;
}

.advance-filter .choose-region , .advance-filter .change-name , .advance-filter .min-level , .advance-filter .android-ios{
    display: grid;
    grid-template-columns: auto 50%;
    align-items: center;
    gap: 10px;
}

.advance-filter .range-price , .advance-filter .rank-filter{
    text-align: center;
    display: grid;
}

.advance-filter .range-price .range-price-container{
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    align-items: center;
    gap: 10px;
}

.advance-filter .range-price .range-price-container input{
    width: 1px !important;
    border-radius: 0px !important;
}

.advance-filter .tab .tab-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (max-width: 1050px) {
    .advance-filter .tab{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 650px) {
    .advance-filter .choose-game{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .advance-filter .choose-game img{
        width: 100%;
    }

    .modal-dialog{
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}