
.carousel{
    /* width: 70%; */
    /* position: absolute; */
    border-radius: 15px;
    overflow: hidden;
}

.carousel-indicators button{
    /* background-color: aqua; */
    /* display: none; */
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
    color: white !important;
}

