.choose-game-sell{
    background: linear-gradient(18deg, rgba(28,52,173,0.23012955182072825) 0%, rgba(28,52,173,1) 100%);
    border-radius: 15px;
    display: grid;
    justify-content: center;
    padding: 30px;
    gap : 20px;
    width: auto;
}

.choose-game-sell div{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 10px;
}

.choose-game-sell div img{
    cursor: pointer;
    width: 100%;
}
