.list-hero-detail-product .ui.attached.header{
    margin-top: 20px;
    background-color: #1935C2;
    color: #DCDDDE;
    border: none;
    font-size: 20px;
}

.list-hero-detail-product .ui.input{
    width: 100% !important;
    border-left: 10px solid #1935C2;
    border-right: 10px solid #1935C2;
}

.list-hero-detail-product .ui.input>input{
    color: white !important;
    font-size: 17px;
    background-color: #192a83;
}

.list-hero-detail-product .container-list-hero{
    background-color: #1935C2;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px , 1fr));
    /* flex-wrap: wrap; */
    gap: 5px;
    /* justify-content: space-between; */
    max-height: 330px;
    overflow: auto;
}

.list-hero-detail-product .ui.menu .item{
    padding: 5px 10px ;
    /* background-color: #b0afaf85; */
    width: 100%;
    text-align: center;
    font-weight: 500;
}

