.review-customer{
    background-color: #1C34AD !important;
    /* width: auto; */
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 40% auto;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    /* max-height: 255px; */
}

.review-customer .tab-left{
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
}

.review-customer .photo-produk{
    /* height: 100%; */
    border-radius: 15px;
}

.review-customer .tab-right{
    display: grid;
    justify-content: center;
    /* height: 100%; */
}

.review-customer .tab-right .content{
    /* display: grid; */
    /* justify-content: center; */
    height: auto;
}
