.navbar-responsive-before{
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    justify-content: space-around;
    align-content: center;
    height: 100%;
}

.navbar-responsive-after{
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    justify-content: space-around;
    align-content: center;
    height: 100%;
}