.pp-seller{
    height: 60px !important;
    width: 60px !important;
    object-fit: cover;
    border-radius: 50%;
}

.nama-seller{
    font-weight: 600;
    font-size: 15px;
}

.seller{
    display: flex;
    margin: 10px 5px;
}

.seller span{
    margin-top: 10px;
    padding-left: 10px;
}

.seller span .item:nth-child(1){
    font-weight: 600;
    font-size: 16px;
}

.seller span .item:nth-child(2){
    display: flex;
    margin-top: -5px;
    font-size: 12px;
}

.description h3{
    margin-bottom: -3px;
    font-weight: 400;
}

.description h2{
    margin-bottom: 0;
    font-weight: 400;
}