.list-skin-detail-product {
    margin-top: 20px;
}

.list-skin-detail-product h4{
    text-align: center;
    margin-bottom: 10px;
}

.list-skin-detail-product a{
    text-decoration: none;
}

.container-list-skin-detail-product{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(150px , 1fr)); */
    grid-template-columns: 100%;
    justify-content: space-between;
    gap: 5px;
    color: black;
    overflow: hidden;
    overflow-y: auto;
    max-height: 250px;
    border-radius: 0 0 5px 5px  ;
}

.list-skin-detail-product .ui.attached.header{
    background-color: #1935C2;
    color: #DCDDDE;
    border: none;
    font-size: 15px;
}

.container-list-skin-detail-product img{
    height: 35px;
}

.content-detail-product-container .list-skin-detail-product .label {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.container-list-skin-detail-product .ui.label:last-child , .container-list-skin-detail-product .ui.label:first-child{
    margin: 0 .14285714em !important;
}