.filter{
    display: flex;
    justify-content: space-between;
}

.filter div{
    display: grid;
    cursor: pointer;
}

.filter label{
    padding-left: 10px;
}

.filter div Input{
    background-color: #1C34AD !important;
    color: rgba(255, 255, 255, 0.868) !important;
    font-size: 16px;
    border-radius: 20px;
    padding: 8px !important;
    outline: none !important; 
}

.filter div .label {
    border-radius: 0 15px 15px 0 !important;
    background-color: #13288c !important;
    color: white !important;
    padding: 10px;
    outline: none !important; 
}

.filter div .basic {
    border-radius: 15px 0 0 15px !important;
}

.filter div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter .menu{
    border-radius: 0px 0px 20px 20px !important;
}

.filter div .dropdown-filter{
    background-color: #1C34AD !important;
    color: white !important;
    padding: 10px;
    border-radius: 20px !important;
    outline: none; 
    cursor: pointer;
}

.filter .advance-filter{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 10px 5px 0 5px;
    background-color: #1C34AD;
    border-radius: 15px;
    padding: 5px 10px;
    width: 200px;
}

.container-combo-box{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #1C34AD;
    border-radius: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.container-combo-box img{
    width: 30px;
}
.arrow-filter{
    position: relative;
    right: 0;
}