.filter{
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    gap: 1%;
    justify-content: space-between;
}

.filter div{
    display: grid;
    cursor: pointer;
}

.filter label{
    padding-left: 10px;
    white-space: nowrap;
}

.filter div .ui.selection.dropdown{
    width:auto !important;
    max-width: none ;
    min-width: auto !important;

}

.filter div .ui.input>input {
    background-color: #1C34AD !important;
    color: rgba(255, 255, 255, 0.868) !important;
    font-size: 16px;
    border-radius: 20px;
    padding: 8px !important;
    outline: none !important; 
    width: 100px !important;
    max-width: none ;
}

.filter div .label {
    border-radius: 0 15px 15px 0 !important;
    background-color: #13288c !important;
    color: white !important;
    padding: 10px;
    outline: none !important; 
    width: auto !important;
}

.filter div .basic {
    border-radius: 15px 0 0 15px !important;
}

.filter div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ui.selection.dropdown .menu{
    width: 196px !important;
}

.filter .ui.dropdown>.text{
    white-space: nowrap;
}

.filter .menu{
    border-radius: 0px 0px 20px 20px !important;
}

.filter div .dropdown-filter{
    background-color: #1C34AD !important;
    color: white !important;
    padding: 10px;
    border-radius: 20px !important;
    outline: none; 
    cursor: pointer;
}

.filter .advance-filter{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 10px 5px 0 5px;
    background-color: #1C34AD;
    border-radius: 15px;
    padding: 5px 10px;
    /* width: 200px; */
}

.filter .advance-filter :nth-child(2){
    cursor: pointer;
}

.container-combo-box{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: #1C34AD;
    border-radius: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.container-combo-box img{
    width: 25px;
}
.arrow-filter{
    position: relative;
    right: 0;
}

@media only screen and (max-width: 1300px) {
    .filter{
        grid-template-columns: 15% 20% 20% 15% 22%;
        gap: 5px;
    }
}

@media only screen and (max-width: 1100px) {
    .filter{
        grid-template-columns: 30% 30% 30%;
        gap: 5px;
    }

    .filter .min-price , .filter .max-price{
        display: none;
    }
}

@media only screen and (max-width: 730px) {
    .filter{
        grid-template-columns: 25% 25% 40%;
        gap: 5px;
    }
}

@media only screen and (max-width: 550px) {
    .filter{
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 5px;
    }
}