.no-data{
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    height: 100%;
    margin: auto;
}

.my-profile-container .no-data .ui.inverted.yellow.basic.button, .ui.inverted.yellow.basic.buttons .button, .ui.inverted.yellow.buttons .basic.button{
    font-size: 18px;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 20vh;
    font-weight: 500;
}

.my-store-container .no-data .ui.inverted.yellow.basic.button, .ui.inverted.yellow.basic.buttons .button, .ui.inverted.yellow.buttons .basic.button{
    font-size: 18px;
    padding: 15px;
    margin-bottom: 15px;
    margin-top: 20vh;
    font-weight: 500;
}

.no-data h1{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}