.bottom-bar{
    background: rgba( 28, 52, 173, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );

    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: none;
}

@media only screen and (max-width: 730px) {
    .bottom-bar{
        display: block;
    }

}