.top-bar{
    position: fixed;
    left: 0;
    right: 0;
    width: 75vw;
    height: 80px;
    top: 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.sign-in-button{
    background: linear-gradient(18deg, rgba(28,52,173,0.23012955182072825) 0%, rgba(28,52,173,1) 100%);
    border-radius: 10px;
    padding: 5px 4vw;
    margin: auto 0;
    font-weight: normal;
}

@media only screen and (max-width: 730px) {
    .top-bar{
        width: 90vw;
        height: 80px;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 430px) {
    .sign-in-button{
        display: none;
    }
}