.single-column{
    display: grid;
}

.double-column{
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 10px;
    justify-content: space-around;
}

.sell-account-valorant .right , .sell-account-valorant .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sell-account-valorant .dropdown-size .dropdown , .sell-account-valorant .input{
    width: 100% !important;
}

.sell-account-valorant .dropdown-size .dropdown .clear{
    width: 22px !important;
}

.sell-account-valorant .ui.dropdown>.dropdown.icon:before {
    right: 10px;
    position: absolute
}

.sell-account-valorant .segment{
    display: grid;
}

.sell-account-valorant .format .right{
    display: flex;
    flex-direction: row;
    gap: 0;
}

.container-image-sell-account-valorant{
    display: flex !important;
    overflow: auto;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-image-sell-account-valorant .image{
    border-radius: 5px;
}

.container-image-sell-account-valorant span{ 
    width: calc(60%/2) !important;
    cursor: pointer !important;
    display: grid;
    width: fit-content;
}

.container-image-sell-account-valorant span .btn-close{
    position: absolute;
    background-color: aliceblue;
    border-radius: 7px;
}

.input-add-image{
    display: none;
}