.update-game-container{
    background: linear-gradient(18deg, rgba(28,52,173,0.23012955182072825) 0%, rgba(28,52,173,1) 100%);
    border-radius: 15px;
    height: 100%;
    display: grid;
    grid-row: 1 / span 2;
    grid-column: 2;
}

.header-update-game-container{
    padding: 10px 0 5px 10px;
    font-size: 30px;
    margin: 0;
}

.container-update-game-container{
    /* position: absolute; */
    /* top: 55px; */
    /* bottom: 0; */
    width: 100%;
    border-radius: 15px;
    overflow: auto;
    display: grid;
    gap: 10px;
    padding: 5px;
}

.container-update-game-container::-webkit-scrollbar {
    width: 8px !important;
  }