.profile{
    color: white;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 60px;
    column-gap: 10px;
    align-items: center;
    padding-top: 15px;
}

.profile:hover{
    cursor: pointer;
}

.profile img:nth-child(1){
    height: 60px;
}

.profile img:nth-child(3){
    width: 35px;
    margin: -5px 0 0 -3px;
}

.profile h1{
    font-weight: 600;
    font-size: 20px;
    width: fit-content;
    margin-bottom: 5px;
}

.profile h2{
    font-size: 40px;
}

.profile .status{
    display: flex;
    align-items: baseline;
    gap: 5px;
    font-size: 15px;
    font-weight: 500;
}

.top-bar .ui.dropdown>.dropdown.icon:before{
    display: none !important;
}

.top-bar .ui.dropdown .menu {
    width: 254px !important;
    z-index: 20;
    position: absolute !important;
}