.chat{
    margin: 15px 10px 10px 10px;
    display: grid;
    grid-template-columns: 50px auto 45px;
    column-gap: 10px;
    cursor: pointer;
}

.chat h1{
    font-size: 20px;
    margin-bottom: 2px;
}

.chat h2{
    font-size: 15px;
    font-weight: 200;
}

.chat img {
    width: 80%;
    margin: auto;
}

.chat .notif{
    background-color: #FF3C2E;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.satuDigit{
    /* margin: 15px 10px; */
    padding: 0;
    width: 8;
    margin: 5px 5px ; 
    font-size: 18px;
}

.duaDigit{
    margin: 5px 5px ; 
    font-size: 16px;
}

.tigaDigit{
    margin: 5px 5px;
    font-size: 14px;
}