body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(0, 7, 43, 1); */
  /* background-image: linear-gradient(to bottom, #102973, #04235f, #001c4b, #001538, #010a26); */
  background-image: url('background.svg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


  margin: 0;
  padding: 0;
  font-family: 'Poppins' !important;
  color: white !important;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 0;
  font: inherit;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
a,
div,
textarea {
  font-family: 'Poppins' !important;
  outline: none;
}

textarea::placeholder {
  color: #ffffffbb;
}

textarea:focus {
  -webkit-appearance: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(34, 36, 38, 0.35) inset;
}

::-webkit-scrollbar {
  width: 8px !important;
}

::-webkit-scrollbar-track {
  background: none !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.9) !important;
}