body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 7, 43, 1);
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 0;
  font: inherit;
  font-family: 'Poppins';
}
