.modal{
    color: black !important;
}

.modal .modal-header{
    padding: 5px 15px;
    border: none;
}

.modal-90w{
    max-width: 80% !important;
    min-width: 80% !important;
}

.modal-content{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(28, 52, 173, 0.32);

    width: 80% !important;
    min-width: 920px !important;
    margin: auto;
}

.modal .modal-header h1{
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin: 0;
}

.modal .modal-body{
    

     display: grid;
}

.modal .modal-footer{
    border: none;
    
}