.modal{
    color: black !important;
}

.modal .modal-header{
    padding: 5px 15px;
    border: none;
}

.modal-90w{
    max-width: 80% !important;
    min-width: 80% !important;
}

.modal-content{
    width: 80% !important;
    min-width: 920px !important;
    margin: auto;
}

.modal .modal-header h1{
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin: 0;
}

.modal .modal-body{
     display: grid;
}

.modal .modal-footer{
    border: none;
    
}